<div class="container">
  <h1 class="text-center">All restaurants</h1>
  <ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
  </ul>

  <%= link_to "Add a restaurant", new_restaurant_path %>
</div>
